<%= "Welcome #{$player1.name} and #{$player2.name} to the game :)" %>

<%="Player 2 hit points: #{$player2.hitpoints}"%>

<!-- <input type="submit" value="Player 1 attack Player 2!"> -->

<form action="/p1attacksp2" method="get">
    Player 1 attacks Player 2
    <input type="submit" value="Player 1 attack Player 2!">
</form>
