<h2><%= "Welcome #{$game.player1.name} and #{$game.player2.name} to the game :)" %></h2>
<h3>Hit points at stake: <span class="random_number"><%= @random_number %></span></h3>

<%="Player 2 hit points: #{$game.player2.hitpoints}"%>

<!-- <input type="submit" value="Player 1 attack Player 2!"> -->

<form action="/p1attacksp2" method="get">
    Player 1 attacks Player 2
    <input type="submit" value="Player 1 attack Player 2!">
</form>
